{% include 'groups.j2' %}
{% include 'system.j2' %}
{% include 'snmp.j2' %}
{% include 'chassis.j2' %}
{% include 'interfaces.j2' %}
{% include 'shared-bgp.j2' %}
{% include 'evpn.j2' %}
{% include 'firewall.j2' %}
