vlans {
{% for vlan in config['vlans'] %}
    {% if 'vni' in vlan and vlan['vni'] or 'basic_vlan' in vlan['tags'] %}
    {{ vlan['name'] }} {
        vlan-id {{ vlan['vid'] }};    
      {% if 'vni' in vlan and vlan['vni'] %}
        vxlan {
            vni {{ vlan['vni'] }};
        }
      {% endif %}
    }
    {% endif %}
{% endfor %}
}

