{% if 'lacp' in config %}
chassis {
    aggregated-devices {
        ethernet {
            device-count {{ config['lag_count'] }};
        }
    }
}
interfaces {
{% for bundle in config['lacp'] %}
  {% for member in bundle['members'] %}
    {{ member }} {
        description "member of {{ bundle['name'] }}";
    {% if 'MX204' in config['device_platform'] %}
        gigether-options {
    {% else %}
        ether-options {
    {% endif %}
            802.3ad {{ bundle['name'] }};
        }
    }
  {% endfor %}
    {{ bundle['name'] }} {
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;              
            }
        }
    }
{% endfor %}
}
{% endif %}
{% for interface in config['interfaces'] if not interface['name'] in config['lacp_interfaces'] %}
{% set rstp_config = "" %}
interfaces {
    {% if '.' in interface['name'] %}
    {% set parts = interface['name'].split('.') %}
    {% set ifname = parts[0] %}
    {% set unit = parts[1] %}
    {% else %}
    {% set ifname = interface['name'] %}
    {% set unit = '0' %}
    {% endif %}
    {{ ifname }} {
        {% if 'unused' in interface and interface['unused'] %}
        unit {{ unit }} {
            family inet;
        } 
        {% else %}
        {% if not interface['enabled'] and (not 'irb' in interface['name']) and not (not 'tagged_subinterfaces' in interface and (('switched' in interface and interface['switched']) or ('routed' in interface and interface['routed']))) %}
        disable;
        {% endif %}
        {% if 'irb' in ifname %}
        {% elif not 'subinterface' in interface or ('subinterface' in interface and unit == '0') %}
        description "{{ interface['description'] }}";
        {% endif %}
        {% if 'tagged_subinterfaces' in interface and interface['tagged_subinterfaces'] %}
        vlan-tagging;
          {% if 'MX204' in config['device_platform'] %}
        encapsulation flexible-ethernet-services;
          {% endif %}
        {% endif %}
        {% if 'mtu' in interface %}
        mtu {{ interface['mtu'] }};
        {% elif ifname.startswith('et-') or ifname.startswith('ae') %}
        mtu 9216;
        {% endif %}
        {% if not 'tagged_subinterfaces' in interface and (('switched' in interface and interface['switched']) or ('routed' in interface and interface['routed'])) %}
        unit {{ unit }} {
            {% if not interface['enabled'] %}
            disable;
            {% endif %}
            {% if 'subinterface' in interface and interface['subinterface'] and not unit == '0' %}
            description "{{ interface['description'] }}";
            vlan-id {% for vlan in config['vlans'] %}{% if vlan['name'] == interface['native_vlan'] %}{{ vlan['vid'] }}{% endif %}{% endfor %};
            {% endif %}
            {% if 'routed' in interface and interface['routed'] %}
            {% if 'ipv4' in interface and interface['ipv4']|length %}
            family inet {
                {% if ifname.startswith('lo0') %}
                filter {
                    input mgmt-traffic;
                }
                {% endif %}
                {% for ip in interface['ipv4'] %}
                {# {% if 'gateway' in interface and interface['gateway']|length %} #}
                {% if 'gateway' in interface and interface['gateway'] and not 'subinterface' in interface %}
                address {{ ip }} {
                    preferred;
                    virtual-gateway-address {{ interface['gateway'] }};
                }
                {% else %}
                address {{ ip }};
                {% endif %}
                {% endfor %}
            }
            {% endif %}
            {% if 'ipv6' in interface and interface['ipv6']|length %}
            family inet6 {
                {% for ip in interface['ipv6'] %}
                address {{ ip }};
                {% endfor %}
            }
            {% endif %}
            {% endif %}
            {% if 'switched' in interface and interface['switched'] %}
            {% set rstp_config = rstp_config + "    interface " + ifname + " {\n" %}
            {% set rstp_config = rstp_config + "        mode point-to-point;\n" %}
            {% set rstp_config = rstp_config + "        bpdu-timeout-action {\n" %}
            {% set rstp_config = rstp_config + "            block;\n" %}
            {% set rstp_config = rstp_config + "        }\n" %}
            {% set rstp_config = rstp_config + "    }\n" %}
            family ethernet-switching {
                {% if 'native_vlan' in interface %}
                native-vlan-id {% for vlan in config['vlans'] %}{% if vlan['name'] == interface['native_vlan'] %}{{ vlan['id'] }}{% endif %}{% endfor %};
                {% endif %}
                interface-mode {{ interface['mode'] }};
                vlan {
                    {% if interface['mode'] == 'access' %}
                    members {{ interface['vlans'] }};
                    {% else %}
                    members [ {% for vlan in interface['vlans'] %}{{ vlan }} {% endfor %}];
                    {% endif %}
                }
                {% if interface['mode'] == 'access' %}
                storm-control default;
                recovery-timeout 600;
                {% endif %}
            }
            {% endif %}
        }
        {% endif %}
        {% endif %}
    }
}
{% if rstp_config %}
protocols rstp {
{{ rstp_config }}
}
{% endif %}
{% endfor %}

