{% include 'system.j2' %}
{% include 'telemetry.j2' %}
{% include 'snmp.j2' %}
{% include 'chassis.j2' %}
{% include 'interfaces.j2' %}
{% include 'routing.j2' %}
{% include 'spanning_tree.j2' %}
{% include 'firewall.j2' %}
{% include 'vlans.j2' %}
