protocols {
    igmp-snooping {
        vlan default;
        {% for vlan in config['vlans'] %}
        {% if 'igmpsnooping' in vlan['tags'] and vlan['tags']['igmpsnooping'] == True %}
        vlan {{ vlan['name'] }};
        {% endif %}
        {% endfor %}
    }
    layer2-control {
        nonstop-bridging;
    }
}
{% if 'System_MAC_Limit' in config['custom_fields'] and config['custom_fields']['System_MAC_Limit'] > 0 %}
switch-options {
    interface-mac-limit {{ config['custom_fields']['System_MAC_Limit'] }} packet-action drop-and-log;
}
{% endif %}
{% for interface in config['interfaces'] %}
{% if 'dhcp_relay' in interface and interface['dhcp_relay'] is not none %}
forwarding-options {
    dhcp-relay {
        forward-snooped-clients all-interfaces;
        persistent-storage automatic;
        overrides {
            allow-snooped-clients;
            always-write-giaddr;
            trust-option-82;
            bootp-support;
            delete-binding-on-renegotiation;
        }
        {% for servergroup in interface['dhcp_relay'] %}
        {% for k in servergroup.keys() %}
        server-group {
            {{ k }} {
                {% for server in servergroup[k]['servers'] %}
                {{ server }};
                {% endfor %}
            }
        }
        group {{ k }} {
            active-server-group {{ k }};
            relay-option-82 {
                circuit-id {
                    no-vlan-interface-name;
                }
            }
            interface {{ interface['name'] }};
        }
        {% endfor %}
        {% endfor %}
    }
}
{% endif %}
{% endfor %}
