protocols {
    evpn {
        encapsulation vxlan;
        extended-vni-list all;
        default-gateway no-gateway-community;
    }
}
policy-options {
    community evpn-switching members target:{{ config['evpn']['target_asn'] }}:{{ config['evpn']['target_switching_rd'] }};
    policy-statement evpn-switching {
        term layer2 {
            from community evpn-switching;
            then accept;
        }
        term default-deny {
            then reject;
        }
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ config['router_id'] }}:{{ config['evpn']['target_switching_rd'] }};
    vrf-import evpn-switching;
    vrf-target {
        target:{{ config['evpn']['target_asn'] }}:{{ config['evpn']['target_switching_rd'] }};
        auto;
    }
}

