vlans {
{% for vlan in config['vlans'] %}
    {# this needs to stay out until we finish removing Cisco devices #}
    {# {% if ('vni' in vlan and not vlan['vni'] == None and vlan['vni']) or 'basic_vlan' in vlan['tags'] %} #}
    {{ vlan['name'] }} {
        vlan-id {{ vlan['vid'] }};    
        {% if 'System_MAC_Limit' in config['custom_fields'] and config['custom_fields']['System_MAC_Limit'] > 0 %}
        switch-options {
            interface-mac-limit {
                {{ config['custom_fields']['System_MAC_Limit'] }};
                packet-action drop-and-log;
            }
            {% for interface in config['interfaces'] %}
            {% if 'mode' in interface and interface['mode'] == "trunk" and interface['name'] not in config['lacp_interfaces'] and interface['enabled'] %}
            interface {{ interface['name'] }}.0 {
                interface-mac-limit {
                    {{ config['custom_fields']['System_MAC_Limit'] }};
                    packet-action drop-and-log;
                }
            }
            {% endif %}
            {% endfor %}
        }
        {% endif %}
        {% if 'voice' in vlan['name'] %}
        forwarding-options {
            filter {
                input block-cdp;
            }
        }
        {% endif %}
        {% if 'dhcpsnooping' in vlan['tags'] %}
        forwarding-options {
            dhcp-security {
                group trusted-interfaces {
                    overrides {
                        trusted;
                    }
                    {% for interface in config['interfaces'] %}
                    {% if 'dhcp_snooping_trusted' in interface %}
                    interface {{ interface['name'] }};
                    {% endif %}
                    {% endfor %}
                }
            }
        }
        {% endif %}
    }
    {# {% endif %} #}
{% endfor %}
}

