{% include 'groups.j2' %}
{% include 'shared-system.j2' %}
{% include 'system.j2' %}
{% include 'shared-snmp.j2' %}
{% include 'chassis.j2' %}
{% include 'interfaces.j2' %}
{% include 'vlans.j2' %}
{% include 'spanning_tree.j2' %}
{% include 'firewall.j2' %}
{% include 'shared-oob.j2' %}
